<div class="header dialogBody">
  <h1 mat-dialog-title>Contrato {{contract.contractNumber}}</h1>
</div>
<mat-divider class="divider"></mat-divider>
<div mat-dialog-content>
  <div class="dialogBody">
    <mat-form-field class="flex-item1" appearance="outline">
      <mat-label>Data Inicial</mat-label>
      <input tabindex="-1" matInput readonly="true" [value]="contract.initialDate!| brDate">
    </mat-form-field>
    <mat-form-field class="flex-item1" appearance="outline">
      <mat-label>Data Final</mat-label>
      <input tabindex="-1" matInput readonly="true" [value]="contract.finalDate! | brDate">
    </mat-form-field>
  </div>

  <div class="dialogBody">
    <mat-form-field class="flex-item1" appearance="outline">
      <mat-label>CNPJ</mat-label>
      <input tabindex="-1" matInput readonly="true" [value]="contract.company?.cnpj! | mask:'00.000.000/0000-00'">
    </mat-form-field>
    <mat-form-field class="flex-item2" appearance="outline">
      <mat-label>Empresa</mat-label>
      <textarea tabindex="-1" matInput readonly="true">{{contract.company?.name}}</textarea>
    </mat-form-field>
  </div>
  <div class="dialogBody">
    <mat-form-field class="flex-item1" appearance="outline">
      <mat-label>Tipo de Cotrato</mat-label>
      <textarea tabindex="-1" matInput readonly="true">{{contract.contractType?.description}}</textarea>
    </mat-form-field>
  </div>
  <div class="header dialogBody">
    <h2 mat-dialog-title>Interessados</h2>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="dialogBody" *ngFor="let interested of contract.interested; let i = index">
    <mat-form-field class="flex-item1 mid-label" appearance="outline">
      <mat-label>{{interested.cpf! | mask:'000.000.000-00' }} - {{interested.name}}</mat-label>
      <div *ngFor="let phone of interested.phones">
        <input tabindex="-1" matInput readonly="true" [value]="phone.tel! | mask:'(00)0000-0000||(00)00000-0000'">
      </div>
    </mat-form-field>
  </div>
</div>
