// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// custom palette for my application
@use "./styles/pallete/cpallete" as cpallete;
// custom typografy
@use "./styles/typography/config" as typography;
// Plus imports for other components in your app.
@use "sass:map";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core(typography.$lembrete-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lembrete-primary: mat.define-palette(cpallete.$lmt-primary);
$lembrete-accent: mat.define-palette(cpallete.$lmt-accent, 500, 300, 900);

// The warn palette is optional (defaults to red).
$lembrete-warn: mat.define-palette(cpallete.$lmt-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$lembrete-theme: mat.define-light-theme(
  (
    color: (
      primary: $lembrete-primary,
      accent: $lembrete-accent,
      warn: $lembrete-warn,
    ),
  )
);

$color-config: mat.get-color-config($lembrete-theme);
$primary-palette: map.get($color-config, "primary");
$accent-palette: map.get($color-config, "accent");
$warn-palette: map.get($color-config, "warn");

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($lembrete-theme);
// @include mat.core-theme($lembrete-theme);
// @include mat.button-theme($lembrete-theme);
// @include mat.toolbar-theme($lembrete-theme);
// @include mat.input-theme($lembrete-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Palanquin, 'Helvetica Neue', sans-serif";
}
.style-success {
  color: white;
  background-color: green;
  white-space: pre-wrap;
}
.style-success .mat-simple-snackbar-action {
  color: white;
  white-space: pre-wrap;
}
.style-error {
  color: mat.get-color-from-palette($warn-palette, "A200");
  background-color: mat.get-color-from-palette($warn-palette, "default");
  white-space: pre-wrap;
}
.style-error .mat-simple-snackbar-action {
  color: mat.get-color-from-palette($warn-palette, "A200");
  white-space: pre-wrap;
}

.selected-row:hover {
  background-color: mat.get-color-from-palette($primary-palette, "A200");
  cursor: pointer;
}
